mixin about-block()
  section.section-about-block(id="about")
    .container
      .about-block
        .about-block__wrp
          .about-block__title О посёлке <br> <span>  "Барвиха 21" <span>
          .about-block__main
            p Элитный коттеджный поселок «Барвиха-XXI» располагается на 25 га с участками площадью от 27 до 45 соток. Специально посёлка были разработаны современные дома, с высокими потолками, свободной планировкой и большими площадями остекления в стиле Фрэнка Лойда Райта – знаменитого американского архитектора, совершившего революцию в проектировании загородного дома.
            p Всего возведено 64 коттеджа 2х и 3х уровневых, выдержанных в едином архитектурном стиле: четкие формы, элегантная отделка фасадов, удобство и комфорт внутреннего пространства. На 2/3 посёлок граничит с Барвихинским лесопарком, который издавна считается лёгкими Запада столицы. К застройке примыкает 20 га лесного массива, где организован уютный парк, площадки для отдыха и детский игровой городок. Поселок хорошо вписан в природное окружение.


