.section-catalog-filter {
    @include section-padding;
}

.catalog-filter {

    @include row-flex;

    &__aside {
        @include col;
        @include size-w940(4);
        @include size(12);


    }

    &__content {
        @include col;
        @include size-w940(8);
        @include size(12);
    }

    &__list {
        @include row-flex;
    }

    &__item {
        @include col;
        @include size-w480(6);
        @include size(12);
        padding: 5px;
        margin-bottom: 25px;

        @media screen and (max-width: $w1376) {
            padding: 0;
        }
    }

    &__title {
        @include section-title;
        padding-bottom: 100px;

        @media screen and (min-width: $w1440) {
            padding-bottom: 80px;
        }

        @media screen and (max-width: $w760) {
            padding-bottom: 60px;
        }

        @media screen and (max-width: $w760) {
            text-align: center;
        }



    }

    &__topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: rem(45);

        @media screen and (max-width: $w760) {
            flex-direction: column;

            &>div {
                width: 100%;
            }
        }
    }

    &__count {
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
        color: #0B6D7A;

        @media screen and (max-width: $w1440) {
            font-size: 20px;
        }

        @media screen and (max-width: $w760) {
            padding-bottom: 25px;
        }
    }

    &__sort {
        border: 2px solid $main;
        border-radius: 10px;
        padding-left: 1em;
        padding-right: 1em;

        @media screen and (max-width: $w1440) {}
    }
}


.sortable-box {

    display: flex;
    align-items: center;

    &__direction {
        display: flex;
        align-items: center;
        margin-left: 15px;

        @media screen and (max-width: $w1376) {
            margin-bottom: -4px;
        }

        @media screen and (max-width: $w760) {
            margin-left: auto;
        }

        & label {

            cursor: pointer;

            & svg {
                filter: grayscale(1);
                opacity: 0.3;

                @media screen and (max-width: $w1440) {
                    width: 20px;
                    height: 20px;
                }
            }

            & input {
                display: none;

                &:checked {
                    &~svg {
                        filter: grayscale(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__type {
        display: flex;
        align-items: center;


        & label {

            display: flex;
            align-items: center;

            & span {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 22px;
                color: #C2C3C4;
                cursor: pointer;

                @media screen and (max-width: $w1440) {
                    font-size: 18px;
                }

                @media screen and (max-width: $w1376) {
                    font-size: 16px;
                }
            }

            & input {

                display: none;

                &:checked {
                    &~span {
                        color: #0B6D7A;
                    }
                }
            }

            &::before {
                width: 2px;
                height: 1.8em;
                content: '';
                display: block;
                background-color: #C2C3C4;
                margin: 0.8em;

            }

            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.filetr-clear {
    padding: 30px 40px;
    text-align: center;
    font-style: normal;
    font-size: 22px;
    line-height: 39px;
    color: #242424;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;

    @media screen and (max-width: $w1440) {
        padding: 10px 30px;
        font-size: 16px;
    }
}


.filter-checkbox {
    padding: 0 40px;
    border-bottom: 1px solid #ccc;

    @media screen and (max-width: $w1440) {
        padding: 0 30px;
    }

    &.open {
        & .filter-checkbox {
            &__head {
                &::after {
                    transform: rotate(-180deg);
                }
            }

            &__prop {
                padding-bottom: 35px;
                max-height: 500px;
                overflow: hidden;
            }
        }
    }

    &__head {
        font-weight: 600;
        font-size: 22px;
        padding: 25px 0px;
        position: relative;

        @media screen and (max-width: $w1440) {
            font-size: 16px;
        }

        @media screen and (max-width: $w480) {
            padding: 20px 0px;
        }


        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNTcxIDEuOTA0bDExLjI0NSAxMS4yNDVMMjQuMDYzIDEuOTA0IiBzdHJva2U9IiNCQUI4QjgiIHN0cm9rZS13aWR0aD0iMi44MTEiLz48L3N2Zz4=);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -8px;
            transition: 0.3s ease;

            @media screen and (max-width: $w480) {
                width: 17px;
                height: 17px;
            }
        }

    }

    &__prop {
        padding-bottom: 0;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease;

        & label {
            display: block;
            padding: 4px 0 8px 0;
            position: relative;
            padding-left: 2em;
            cursor: pointer;

            & input {
                display: none;

                &:checked {
                    &~.checkbox-elem {
                        &::after {
                            content: '';
                            width: 9px;
                            height: 4px;
                            background-color: transparent;
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            margin-left: -5px;
                            margin-top: -5px;
                            border-left: 2px solid $main;
                            border-bottom: 2px solid $main;
                            transform: rotate(-45deg);

                            @media screen and (max-width: $w1376) {
                                width: 8px;
                                height: 3px;
                                margin-left: -4px;
                                margin-top: -4px;
                            }
                        }
                    }
                }
            }

            & span {
                display: block;
                font-size: 16px;

                @media screen and (max-width: $w1376) {
                    font-size: 15px;
                }

                &.checkbox-text {
                    &::after {
                        content: attr(data-count);
                        color: #999;
                        margin-left: 0.2em;
                    }
                }

                &.checkbox-elem {
                    position: absolute;
                    left: 0;
                    top: 0.3em;
                    content: '';
                    width: 1.2em;
                    min-width: 1.2em;
                    height: 1.2em;
                    border: 1px solid #0B6D7A;
                    border-radius: 3px;
                    display: block;

                    @media screen and (max-width: $w1376) {
                        font-size: 14px;
                    }
                }


            }
        }
    }
}

.filter-range-price,
.filter-range {
    padding: 0 40px;
    border-bottom: 1px solid #ccc;

    @media screen and (max-width: $w1440) {
        padding: 0 30px;
    }

    &.open {

        & .filter-range-price,
        & .filter-range {
            &__head {
                &::after {
                    transform: rotate(-180deg);
                }
            }

            &__range {
                padding-bottom: 35px;
                max-height: 500px;
                overflow: hidden;
            }
        }
    }

    &__slider {
        margin-bottom: 24px;
        padding-top: 15px;

        & .noUi-horizontal {
            height: 6px;
            border: none;
            background: #dfdfdf;
            box-shadow: none;
        }

        & .noUi-connect {
            background: $main;
        }

        & .noUi-handle.noUi-handle-lower,
        & .noUi-handle.noUi-handle-upper {
            font-size: 10px;
            width: 2.5em;
            height: 2.5em;
            right: -1.25em;
            top: calc(-1.25em + 3px);
            background-color: #A6CFD4;
            box-shadow: none;
            border: none;
            border-radius: 50%;
            cursor: pointer;

            @media screen and (max-width: $w1376) {
                font-size: 8px;
            }

            &::before {
                display: none;
            }

            &::after {
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: linear-gradient(180deg, #0B6D7A -27.78%, #309FAD 67.46%);
                box-shadow: 0px 2.32827px 2.32827px rgba(0, 0, 0, 0.25);
                left: calc(50% - (1em/2));
                top: calc(50% - (1em/2));
            }
        }
    }

    &__select {
        font-size: 20px;
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-end;
    }

    &__head {
        font-weight: 600;
        font-size: 22px;
        padding: 25px 0px;
        position: relative;

        @media screen and (max-width: $w1440) {
            font-size: 16px;
        }

        @media screen and (max-width: $w480) {
            padding: 20px 0px;
        }


        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNTcxIDEuOTA0bDExLjI0NSAxMS4yNDVMMjQuMDYzIDEuOTA0IiBzdHJva2U9IiNCQUI4QjgiIHN0cm9rZS13aWR0aD0iMi44MTEiLz48L3N2Zz4=);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -8px;
            transition: 0.3s ease;

            @media screen and (max-width: $w480) {
                width: 17px;
                height: 17px;
            }
        }

    }

    &__range {
        padding-bottom: 0;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease;
    }

    &__fields {
        display: flex;
        align-items: center;

        & input {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #5E5E5E;
            background: #FFFFFF;
            border-radius: 5.62745px;
            border: none;
            padding: 0 15px;
            height: 2.4em;
        }
    }

    &__sp {
        margin: 0 10px;
    }
}

.filter-box {
    max-width: 410px;
    margin-right: auto;
    background: #F4F4F4;
    border: 1.40565px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 25px;

    &.open {
        @media screen and (max-width: $w940) {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            background-color: #fff;
            animation: slideup 0.3s ease forwards;
            display: block;
            border-radius: 0;
            overflow-y: auto;
            max-width: 100%;


            & .filter-box {
                &__wrp {
                    margin: 0px 20px 20px 20px;
                    background-color: #F4F4F4;
                    border-radius: 20px;

                }

                &__close {

                    padding: 10px 20px;
                    display: flex;
                    justify-content: flex-end;

                    &::before {
                        content: '+';
                        font-size: 55px;
                        transform: rotate(-45deg);
                        line-height: 100%;
                        font-weight: 100;
                        display: inline-block;
                    }
                }
            }
        }
    }


    @media screen and (max-width: $w940) {
        display: none;
    }

    &__item {
        &:last-child {
            &>div {
                border-bottom: none;
            }
        }
    }


}



.filter-toggle {

    display: none;

    @media screen and (max-width: $w940) {
        display: block;
    }

    margin-bottom: 35px;

    & .btn {
        width: 100%;
    }
}




label.price-toggle {
    display: inline-block;
    margin-left: auto;

    & input {
        display: none;
    }

    & span {
        background-color: $main;
        color: #fff;
        font-size: 0.7em;
        line-height: 100%;
        padding: 0.4em 0.8em;
        border-radius: 6px;
    }
}