  filter: {
      
      type: {
        title: 'Тип недвижимости',
        value: [
          'Коттедж',
          'Таунхаус',
          'Участок',
          'Квартира',
        ]
      },

      price: {
        title: 'Цена',
        minValue: '55 000 000',
        maxValue: '1 683 322 000 ',
      },

      square: {
        title: 'Площадь',
        minValue: '10',
        maxValue: '1500',
      },

      mkad: {
        title: 'Удаленность от МКАД',
        minValue: '4',
        maxValue: '10',
      },

      vilage: {
        title: 'Поселок',
        value: [
          'Поселок 1 ',
          'Поселок 2 ',
          'Поселок 3 ',
          'Поселок 4 ',
        ]
      },

      area: {
        title: 'Удаленность от МКАД',
        minValue: '0',
        maxValue: '180',
      },

      level: {
        title: 'Количество этажей',
        minValue: '0',
        maxValue: '180',
      },

      finish: {
        title: 'Отделка',
        value: [
          'С мебелью',
          'Без отделки',
          'С отделкой',
        ]
      },


    } 