.section-signup-block {
    @include section-padding();

    @media screen and (min-width: $w1376) {
        padding: rem(100) 0;
    }
}

.signup-block {

    @include row-flex;
    align-items: center;

    &__left {
        @include col();
        @include size-w760(6);
        @include size(12);
    }

    &__right {
        @include col();
        @include size-w760(6);
        @include size(12);
    }

    &__title {
        @include section-subtitle;
        max-width: rem(600);
        padding-bottom: rem(35);

        @media screen and (max-width: $w1376) {
            padding-bottom: rem(25);
        }

        @media screen and (max-width: $w760) {
            text-align: center;
            margin: 0 auto;
        }
    }

    &__desc {
        font-size: rem(28);
        line-height: 140%;
        max-width: rem(600);

        @media screen and (max-width: $w1376) {
            font-size: 20px;
        }

        @media screen and (max-width: $w760) {
            font-size: 16px;
            padding-bottom: rem(30);
            text-align: center;
            margin: 0 auto;

        }
    }

    &__form {
        background-color: #F4F4F4;
        padding: rem(57) rem(50);
        border-radius: 21px;
        max-width: rem(565);

        @media screen and (max-width: $w760) {
            margin: 0 auto;
        }

        & .form__item {
            margin: rem(13) 0;
        }

        & .checkbox__elem {
            border: 1px solid #878787;
            border-radius: 1px;
            box-sizing: content-box;
        }

        & .checkbox__text {
            color: #2C2C2C;
            font-size: rem(16);

            @media screen and (max-width: $w580) {
                max-width: 169px;
                color: #767676;
            }
        }

        & .form input {
            border-color: transparent;
            height: rem(75);
            color: #2C2C2C;


            @media screen and (max-width: $w580) {
                height: 55px;
            }
        }

        & button.btn {
            height: rem(73);
            margin: rem(15) 0 rem(10) 0;
            width: 100%;
            max-width: rem(253);

            @media screen and (max-width: $w760) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }


}