mixin quiz-block
  section.section-quiz-block
      .quiz-block
        .quiz-block__bg
          +picture('/img/common/quiz-bg')
        .quiz-block__content
          .container
            .quiz-block__wrp
              .quiz-block__left
                .quiz-block__title Получите индивидуальную <span>подборку домов</span>
                .quiz-block__subtitle Для этого ответьте на 5 простых вопросов и наш менеджер свяжется с Вами!
              .quiz-block__right
                .quiz-box
                  .quiz-box__wrp
