extends layouts/index

include ../blocks/modules/first-block/first-block.pug
include ../blocks/modules/all-offers/all-offers
include ../blocks/modules/catalog-filter/catalog-filter
include ../blocks/modules/quiz-block/quiz-block
include ../blocks/modules/inmap-block/inmap-block
include ../blocks/modules/infrastructure-block/infrastructure-block

block variables
  include ../data/data.pug


block content

  +first-block() 
  +all-offers()
  +catalog-filter()
  +quiz-block()
  +inmap-block()
  +infrastructure-block()

block scripts
  script(src="js/common.js?v=1.6")
  script(src="js/vendor.js")  
