mixin main-menu(data)
  .main-menu
    .main-menu__wrp
      .main-menu__close: +icons('#ic_cross')
      .main-menu__nav
        nav
          ul
            each item in data
              li: a(href=item.href)= item.text
      .main-menu__phones
        .main-menu__number: a(href='#') +7 495 799 34 99
        .main-menu__callback
          button.btn.btn-line Заказать звонок
      .main-menu__msgr
        ul
          li.ic_wa: a(href='#'): +icons('#ic_wa')
          li.ic_tg: a(href='#'): +icons('#ic_tg')

