include ../main-menu/main-menu.pug
include ../../banner-presentation/banner-presentation.pug
include ../../bottom-popup/bottom-popup.pug

.container 
  .footer
    .footer__nav
      nav
        ul
          each item in app.mainMenu
            li: a(href=item.href)= item.text

    .footer__info
      .footer__help Нужна помощь? <br> Позвоните или напишите в <br> чат эксперту проекта 
      .footer__contacts
        a(href=':tel7(495)-135-13-34') +7(495)-135-13-34
        ul
          li.ic_wa: a(href='#'): +icons('#ic_wa-solid')
          li.ic_tg: a(href='#'): +icons('#ic_tg')
      .footer__callback
        button.btn.btn-line(data-fancybox="" data-src="#callback") Заказать звонок




+main-menu(app.mainMenu)
+bottom-popup()

.popup-callback(id="callback" style="display: none;")
  .popup-callback__wrp
    .popup-callback__title Закажите <br> обратный звонок
    .popup-callback__subtitle Оставьте Ваш номер телефона и мы перезвоним Вам
    .popup-callback__form
      form(action='#' method='POST')
        .form
          .form__item: .form__subitem: input(type="tel" placeholder="Ваш номер телефона")
          .form__item: .form__subitem: button.btn.btn-large  Отправить

.popup-presentation(id="dl-presentationt" style="display: none;")
  +banner-presentation-popup()

