mixin minicard(data, slider)
  .minicard

    .minicard__image
      if slider
        .swiper-container(data-swiper="minicard")
          .swiper-wrapper
            .swiper-slide: +bgimage('/img/catalog/r'+data+'.webp')
            .swiper-slide: +bgimage('/img/catalog/r'+data+'.webp')
            .swiper-slide: +bgimage('/img/catalog/r'+data+'.webp')
            .swiper-slide: +bgimage('/img/catalog/r'+data+'.webp')
          .swiper-nav-mini
            .swiper-nav-mini__prev(data-swiper-prev="minicard"): +icons('#ic_swiper-prev', 30)
            .swiper-nav-mini__next(data-swiper-next="minicard"): +icons('#ic_swiper-next', 30)
      else
        +bgimage('/img/catalog/r'+data+'.webp')

    .minicard__desc
      

      .minicard__title
        a(href='details.html' target="_blank") ДОМ 500м<sup>2</sup>
        span id 657345
      .minicard__subtitle
        a(href='vilage.html' target="_blank") Поселок: BARVIKHA

      .minicard__props
        ul
          li Дом: <span>1120 м<sup>2<sup></span>
          li Спален: <span>3</span>
          li Отделка: <span>Под ключ</span>
          li Площаль участка: <span>3000 м2</span>

      .minicard__price
        .minicard__rub  250 000 000 руб


    .minicard__link
      a(href='/details.html'): button.btn Подробнее

