.gallery-block {

    position: relative;

    &__title {
        font-weight: 600;
        font-size: rem(50);
        line-height: 140%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #322B2B;
        padding: rem(100) 0 0 0;



        @media screen and (max-width: $w1280) {
            padding: rem(60) 0 0 0;


        }
    }

    &__bg {

        position: relative;
        z-index: 1;

        & .swiper-slide {

            position: relative;

            &::before {
                content: '';
                padding-top: 25%;
                display: block;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                background: linear-gradient(0deg, #000000 0%, rgba(4, 4, 4, 0) 100%);
                opacity: 0.6;
                z-index: 2;

                @media screen and (max-width: $w760) {
                padding-top: 95%
                }
            }

            & .bgimage {
                padding-top: 48.8%;
                @include bgimage-cover;
                min-height: rem(768);

                 
            }
        }
    }

    &__title {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
    }

    &__bottom {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;

        & .container {
            display: flex;
            align-items: flex-end;

            @media screen and (max-width: $w480) {
                flex-direction: column-reverse;

                &>div {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    &__caption {
        font-size: rem(36);
        line-height: 125%;
        font-weight: 600;
        color: #FFFFFF;
        margin-right: auto;
        max-width: 70%;

        padding-bottom: rem(60);

        @media screen and (max-width: $w760) {
            font-size: 28px;
            padding-bottom: rem(30);
        }

    }

    &__counter {
        font-size: rem(84);
        line-height: rem(84);
        font-weight: 600;
        color: #fff;
        padding: rem(30) 0;

        @media screen and (max-width: $w760) {
            font-size: 61px;
            line-height: 61px;
            padding: 15px 0;
        }

        @media screen and (max-width: $w360) {
            font-size: 40px;
            line-height: 40px;
        }

        & .counter-current {
            font-size: rem(151);
            line-height: rem(151);

            @media screen and (max-width: $w760) {
                font-size: rem(105);
                line-height: rem(105);
            }

            @media screen and (max-width: $w360) {
                font-size: rem(80);
                line-height: rem(80);
            }

        }


    }

    &__nav {
        @media screen and (max-width: $w480) {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

    }

    &__swiper {
        margin-left: auto;
    }
}

.swiper-nav {
    display: flex;

    &__next,
    &__prev {

        padding: rem(25);
        border: 2px solid #fff;
        border-radius: 50%;
        width: rem(104);
        height: rem(104);
        margin: 0 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $w1280) {
            width: rem(80);
            height: rem(80);
        }

        @media screen and (max-width: $w360) {
            width: rem(70);
            height: rem(70);
        }

        & svg {
            fill: #fff;
            width: rem(50);
            height: rem(50);

            @media screen and (max-width: $w1280) {
                width: rem(35);
                height: rem(35);
            }
             
            
        }
    }

}