.section-catalog-block {
    @include section-padding;
}


.catalog-block {
    &__title {
        @include section-title;
        text-align: center;
        padding-bottom: rem(40);

        @media screen and (max-width: $w480) {



            & br {
                display: none;
            }
        }
    }

    &__nav {

        padding-bottom: rem(40);

        & ul {

            display: flex;
            justify-content: center;

            & li {

                &.active {

                    & span,
                    & a {
                        background-color: $main;
                        color: #fff;
                    }
                }

                &:not(.active):hover {

                    & span,
                    & a {
                        background-color: #edf1f5;
                    }
                }

                & span,
                & a {


                    font-weight: 600;
                    font-size: rem(36);
                    line-height: 192%;
                    text-align: center;
                    background-color: #F6F7F8;
                    padding: 0.45em 2em;
                    display: block;
                    min-width: 310px;
                    transition: 0.5s ease;
                    cursor: pointer;

                    @media screen and (max-width: $w760) {
                        min-width: 155px;
                        font-size: 20px;
                    }



                }
            }
        }
    }

    &__list {
        @include row-flex();
        padding-top: rem(30)
    }

    &__item {
        @include col();
        @include size-w940(4);
        @include size(12);

        margin-bottom: rem(40);
        animation: slide-up 0.3s ease;
    }

    &__more {
        justify-content: center;
        display: flex;
        padding-top: 30px;

        &.hide {
            display: none;
        }

        & .btn {

            background-color: #F6F7F8;

            @media screen and (max-width: $w1376) {
                height: rem(70);
                font-size: 16px;
            }

            & svg {
                fill: #000;

                @media screen and (max-width: $w1376) {
                    width: 16px;
                }
            }
        }
    }
}

#dl-presentationt {
    width: 100%;
    background-color: transparent;
}