.section-similar-block {
    @include section-padding;

    @media screen and (min-width: $w1376) {
        padding: rem(100) 0;
    }
}

.similar-block {



    &__title {
        @include section-title;
        padding-bottom: rem(45);
    }

    &__slider {
        position: relative;
    }

    & .swiper-nav {

        position: absolute;
        top: 50%;
        z-index: 2;
        left: -12%;
        right: -12%;
        height: 0px;

        @media screen and (min-width: $w1376) and (max-width: 1810px) {
            display: flex;
            position: static;
            height: auto;
            justify-content: flex-end;
            padding-top: 25px;

            &>div {
                transform: translateY(0%);
            }
        }

        @media screen and (max-width: $w1376) {
            left: -14%;
            right: -14%;
        }

        @media screen and (min-width: $w940) and (max-width: 1225px) {
            display: flex;
            position: static;
            height: auto;
            justify-content: flex-end;
            padding-top: 25px;

            &>div {
                transform: translateY(0%);
            }
        }

        @media screen and (max-width: $w940) {
            left: -14%;
            right: -14%;
        }



        @media screen and (max-width: 690px) {
            position: static;
            height: auto;
            margin-top: 0;
            justify-content: center;
            margin-top: 25px;
            margin-bottom: -25px;

            &>div {
                transform: none;
            }
        }

        display: flex;
        justify-content: space-between;

        &__next,
        &__prev {
            border-color: #5E5959;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-50%);

            @media screen and (max-width: $w1376) {
                width: rem(75);
                height: rem(75);

                & svg {
                    fill: #5E5959;
                    width: rem(25);
                    height: rem(25);
                }
            }

            @media screen and (max-width: $w940) {
                width: 55px;
                height: 55px;
                padding: 0;

                & svg {
                    fill: #5E5959;
                    width: rem(25);
                    height: rem(25);
                }
            }

            @media screen and (max-width: $w760) {
                width: 45px;
                height: 45px;

                & svg {
                    fill: #5E5959;
                    width: rem(22);
                    height: rem(22);
                }
            }

            &.swiper-button-disabled {
                opacity: 0.2;
                cursor: default;
            }

            & svg {
                fill: #5E5959;
                width: rem(35);
                height: rem(35);
            }
        }

    }




}

.item-village {

    &__name {
        font-weight: 500;
        font-size: rem(28);
        line-height: 140%;
        color: #322B2B;
        padding-bottom: rem(12);
    }

    &__address {
        font-weight: 500;
        font-size: rem(22);
        line-height: 140%;
        color: #878080;
        padding-bottom: rem(20);
    }

    &__img {
        & .bgimage {
            padding-top: 70%;
            @include bgimage-cover;
        }
    }

    &__btn {
        padding-top: rem(50);
        display: flex;
        justify-content: center;

        & .btn {
            height: rem(70);

            @media screen and (max-width: $w1376) {
                font-size: 18px;
            }
        }
    }
}