@-webkit-keyframes blick {

    15%,
    to {
        left: 110%
    }
}

@keyframes blick {

    15%,
    to {
        left: 110%
    }
}

.btn {

    padding: 0.85em 2.6em 0.85em 2.6em;
    background: $main;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: rem(130);
    height: rem(60);


    font-style: normal;
    font-weight: bold;
    text-transform: none;
    font-size: rem(16);
    white-space: nowrap;
    transition: .3s cubic-bezier(.1, .82, .25, 1);

    @media screen and (max-width: $w1440) {
        height: 50px;
        font-size: 13px;
    }

    @media screen and (max-width: $w1280) {
        height: 45px;
    }


    &:hover {
        opacity: 0.9;
    }

    &:active,
    &:focus {
        border: none;
        outline: none;
    }

    &:disabled {
        background-color: #9D9D9D;
        color: #fff;
        cursor: not-allowed;

        &:hover {
            opacity: 0.9;
        }
    }

    & svg {
        fill: #fff;
        margin-right: 1em;
    }

    &.btn-blick {

        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(255, 255, 255, .1)), color-stop(20%, rgba(255, 255, 255, .2)), to(rgba(255, 255, 255, .6)));
            background: -o-linear-gradient(left, rgba(255, 255, 255, .1) 10%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .6));
            background: linear-gradient(90deg, rgba(255, 255, 255, .1) 10%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .6));
            width: 20px;
            -webkit-transform: skewX(-45deg);
            -ms-transform: skewX(-45deg);
            transform: skewX(-45deg);
            left: -20%;
            -webkit-transition: .6s;
            -o-transition: .6s;
            transition: .6s;
            -webkit-animation-name: blick;
            animation-name: blick;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite
        }
    }

    &.btn-full {
        width: 100%;
    }

    &.btn-large {
        height: 80px;
        font-size: rem(28);
        padding: 0.85em 1.5em 0.85em 1.5em;
    }

    &.btn-radius {
        border-radius: 100px;
    }

    &.btn-bold {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: rem(1)
    }

    &.btn-small {
        height: rem(50);
    }


    &.btn-dark {
        color: #fff;
        background-color: $dark;

        &:hover {
            opacity: 0.9;
        }
    }

    &.btn-white {
        color: #000;
        background-color: #fff;

        &:hover {
            background-color: $main;
            color: #fff;

            & svg {
                fill: #fff;
            }
        }

        & svg {
            height: 1em;
            margin-left: 0.5em;
            margin-right: 0;
        }
    }


    &.btn-line {
        border: 1px solid $main;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $main;

        & svg {
            fill: $main;
            margin-right: 1em;
        }

        &:hover {
            background-color: $main;
            color: #fff !important;
            border-color: $main;

            & svg {
                fill: #fff;
            }
        }
    }


    &.btn-shadow {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        background: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $main;

        & svg {
            fill: $main;
            margin-right: 1em;
        }

        &:hover {
            background-color: $main;
            color: #fff !important;
            border-color: $main;

            & svg {
                fill: #fff;
            }
        }
    }


}