header {
    padding: rem(42) 0;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header {
    display: flex;
    align-items: center;
    color: #fff;

    &__mobile {
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        & .burger {
            & i {
                background-color: #fff;
                width: 40px;
            }
        }

        & span {
            margin-left: rem(40);
            font-size: rem(25);
            margin-top: -0.1em;
        }
    }

    &__msgr {

        & svg {
            fill: #fff;
        }

        & ul {
            display: flex;

            & li {
                margin: 0 7px;
            }
        }
    }

    &__number {
        padding: 0 rem(15);
        margin-right: rem(20);

        & a {
            color: #fff;
            font-size: rem(25);
        }
    }

    &__callback {
        width: 100%;
        max-width: 260px;

        & .btn {
            height: rem(52);
            color: #fff;
            border-color: #fff;
            width: 100%;
            font-weight: 300;
            font-size: rem(22);
            text-transform: none;
        }
    }
}


header {

    transition: 0.3s ease;

    // &.open {
    //     background-color: #fff !important;
    // }


    &.fixed {
        background-color: #fff;
        color: #000;
        padding: 15px;
        box-shadow: 0 0 9px -7px #000;

        & a {
            color: #000;
            font-weight: 500;
            font-size: 22px;
        }

        & .burger i {
            background-color: #000;

        }

        & .header__mobile span {
            color: #000;
        }

        & .btn.btn-line {
            border-color: #000;
            color: #000;
            font-size: 18px;
            height: 45px;
        }

        & .header__msgr svg {
            fill: #000;
            width: 20px;
        }
    }
}