
.container
  .header
    .header__mobile
      .burger
        i
        i
        i
      span Meню

    .header__msgr
      ul
        li.ic_wa: a(href='#'): +icons('#ic_wa-solid')
        li.ic_tg: a(href='#'): +icons('#ic_tg')

    .header__phones
      .header__number: a(href='#')
        span  +7 (495) 135-13-34


    .header__callback
      button.btn.btn-line Заказать звонок

















