mixin first-block ()
  section.section-first-block
    .first-block
      .first-block__bg
        .bgimage
          +picture('./img/common/fb-bg', 'nolazy')
      .first-block__content
        .first-block__main
          .container
            .first-block__title:   h1 Дома <br> и участки
            .first-block__subtitle на Новорижском шоссе
            .first-block__present: +get-present()
        .first-block__slider
          .container
            .swiper-container(data-swiper="vilages")
              .swiper-wrapper
                each item in app.vilages
                  .swiper-slide: +card-vilage(item)
            .swiper-nav-default
              .swiper-nav-default__prev(data-swiper-prev="vilages"): +icons('#ic_swiper-prev', 22)
              .swiper-nav-default__next(data-swiper-next="vilages"): +icons('#ic_swiper-next', 22) 




mixin get-present()
  .get-present
    .get-present__text: +bgimage('/img/common/present-text.svg')
    .get-present__btn
      a(href='#' data-fancybox="" data-src="#dl-presentationt") 
        +icons('#ic_doc', 43)
        span Получить презентацию

mixin card-vilage(data)
  .card-vilage
    .card-vilage__image
      a(href='#' title=data.link)
        +picture('/img/home/card-vilage')
    .card-vilage__link
      a(href='#')= data.link
