.section-first-block {
    padding-top: 0;
    position: relative;
    z-index: 9;
}


.first-block {

    position: relative;

    &__bg {

        position: relative;
        z-index: 1;

        @media screen and (max-width: $w1720) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        & .bgimage {
            padding-top: 57%;
            min-height: 100vh;
            background-color: #888;

            & img {
                @include layer(1);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media screen and (max-width: $w1720) {
                min-height: auto;
                height: 100%;
            }

            @media screen and (max-width: $w480) {
                padding-top: auto;
                min-height: auto;
                height: 100%;
            }
        }
    }

    &__content {
        @include layer(2);
        background: rgba(0, 0, 0, 0.65);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $w1720) {
            position: relative;
        }


    }

    &__main {
        width: 100%;
        position: relative;
        flex-grow: 1;
        padding-top: 100px;
        display: flex;
        align-items: center;

        @media screen and (max-width: $w1720) {
            padding-top: rem(180);
            padding-bottom: rem(60);
        }

        & .container {
            position: relative;
        }
    }

    &__title {

       @media screen and (max-width: $w375) {
       padding-bottom: 0;
       }

        & h1 {

            font-style: normal;
            font-weight: 600;
            font-size: rem(110);
            line-height: 120%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;

            @media screen and (max-width: $w1660) {
                font-size: rem(90);
            }

            @media screen and (max-width: $w1376) {
                font-size: 78px;
            }

            @media screen and (max-width: $w940) {
                font-size: 55px;
                line-height: 140%;
            }

            @media screen and (max-width: $w480) {
                font-size: 50px;
                 
            }

            @media screen and (max-width: $w375) {
                font-size: 46px;
                
            }

        }

        padding-bottom: rem(30);
    }

    &__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: rem(50);
        line-height: 140%;
        color: #FFFFFF;
        padding-bottom: rem(50);
        max-width: rem(768);
        margin-right: auto;

        @media screen and (max-width: $w1376) {
            font-size: 42px;
        }

        @media screen and (max-width: $w940) {
            font-size: rem(30);
            padding-bottom: rem(30);
        }
    }

    &__present {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        @media screen and (max-width: $w940) {
            transform: translateY(-50%);
        }

        @media screen and (max-width: $w760) {
            position: static;
            top: auto;
            transform: none;

            &>div {
                margin-left: auto;
            }
        }

        @media screen and (max-width: $w480) {
            &>div {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }

    &__slider {

        background: rgba(0, 62, 70, 0.5);
        width: 100%;
        padding: 35px 0 35px 0;

        @media screen and (max-width: $w580) {
            padding: 30px 0 20px 0;
        }

        & .container {
            position: relative;

            @media screen and (max-width: 1660px) {
                width: 90%;
            }

            @media screen and (max-width: $w480) {
                width: 100%;
                max-width: 100%;
                padding: 0 0 0 9px;
            }
        }

    }





}



.get-present {

    width: 330px;
    height: 330px;
    position: relative;

    @media screen and (max-width: $w1440) {
        width: 280px;
        height: 280px;
    }

    @media screen and (max-width: $w1376) {
        width: 236px;
        height: 236px;
    }

    @media screen and (max-width: $w480) {
        width: 200px;
        height: 200px;
    }

    &__text {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        & span {
            width: 100%;
            height: 100%;
            display: block;
            animation: 50s linear loadingrotate infinite;
            background-size: contain;
            background-position: center;
        }

    }

    &__btn {
        background: linear-gradient(180deg, #0B6D7A -27.78%, #309FAD 67.46%);
        opacity: 0.9;
        border-radius: 50%;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 69%;
        max-height: 69%;
        margin: auto;
        transition: 0.2s cubic-bezier(.33, -0.22, .91, 1.8);
        transform: scale(1.0001);

        &:hover {

            transform: scale(1.04);
            opacity: 1;

        }

        & a {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & svg {
                @media screen and (max-width: $w1376) {
                    width: 35px;
                    height: 35px;
                }

                @media screen and (max-width: $w480) {
                    width: 30px;
                    height: 30px;
                }
            }

            & span {
                font-weight: 600;
                font-size: 22px;
                line-height: 110%;
                text-align: center;
                color: #FFFFFF;
                padding-top: 10px;

                @media screen and (max-width: $w1440) {
                    font-size: 18px;
                }

                @media screen and (max-width: $w1376) {
                    font-size: 16px;
                }

                @media screen and (max-width: $w480) {
                    font-size: 13px;
                }
            }
        }
    }
}

.card-vilage {

    &__image {
        & picture {
            display: block;
            padding-top: 70%;
            background-color: #084e57de;
            position: relative;
            overflow: hidden;

            &:hover {
                & img {
                    transform: scale(1.05);

                }
            }

            & img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                object-fit: cover;
                transition: 0.3s cubic-bezier(.33, -0.22, .91, 1.8);
                width: 100%;
            }

        }
    }

    &__link {
        text-align: center;
        font-size: 28px;
        padding-top: 1em;

        @media screen and (max-width: $w1720) {
            font-size: 22px;
        }

        @media screen and (max-width: $w1440) {
            font-size: 18px;
        }

        @media screen and (max-width: $w940) {
        font-size: 15px;
        }

        & a {
            color: #FFFFFF;
            transition: 0.3s ease;
            display: block;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            @media screen and (max-width: $w1440) {
                font-weight: 500;
            }
        }
    }

    &:hover {
        & a {
            font-weight: 500;
        }
    }
}

.swiper-nav-default {


    justify-content: space-between;
    display: flex;
    position: absolute;
    left: -80px;
    right: -80px;
    top: calc(50% - 46px);
    height: 0;

    @media screen and (max-width: $w1720) {
        left: -40px;
        right: -40px;
    }

    @media screen and (max-width: $w1376) {
        top: calc(50% - 33px);
    }

    @media screen and (max-width: $w940) {
        left: -25px;
        right: -25px;
    }

    @media screen and (max-width: $w480) {
        display: none;
    }




    &__prev,
    &__next {
        width: 46px;
        height: 46px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: $w1376) {
            width: 33px;
            height: 33px;
        }

        & svg {
            fill: #fff;
            width: 18px;
            height: 18px;

            @media screen and (max-width: $w1376) {
                width: 14px;
                height: 14px;
            }
        }
    }
}

@keyframes loadingrotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}