
mixin quiz-popup
    section.section-quiz-popup
        .container
            .quiz-popup 
              .quiz-popup__title <span>Ответьте на 5 коротких вопросов.</span> Мы подберем предложения, максимально близко подходящие критериям запроса
              .quiz-popup__btn
                button.btn(data-popup="quiz") Подобрать предложение