mixin bottom-popup()
  .bottom-popup
    .bottom-popup__title Полная база объектов в поселке Барвиха&nbsp21
    .bottom-popup__btn
      button.btn.btn-blick(data-fancybox="" data-src="#dl-presentationt")
        +icons('#ic_file', 18)
        span Получить презентацию
