- 
  const app = {

    mainMenu: [
      {  'text': 'О поселке', 'href': '#about',  },
      {  'text': 'Галерея', 'href': '#gallery',  },
      {  'text': 'Дома/участки в поселке', 'href': '#catalog',  },
      {  'text': 'Команда отдела продаж', 'href': '#team',  },
      {  'text': 'Окружение', 'href': '#surroundings',  },
      {  'text': 'Расположение поселка', 'href': '#location',  },

    ],

    

    team: [
      {
        img: './img/common/m_1.webp',
        post: 'Менеджер по продажам',
        name: 'Елена',
        text: 'Я всегда рада работать с такими проектами, как коттеджный поселок “Барвиха 21”. Каждый дом на территории поселка имеет уникальную архитектуру и планировку - Вы обязательно найдете здесь то, что подходит именно Вам. К продаже доступны дома под чистовую отделку, с ремонтом и даже с готовой меблировкой, а также участки под строительство. ',
      },
      {
        img: './img/common/m_2.webp',
        post: 'Менеджер по продажам',
        name: 'Олег',
        text: 'Нужно один раз увидеть, чтобы навсегда влюбиться в это место! Коттеджный поселок “Барвиха 21” расположен в живописном месте одноименного населенного пункта, вблизи соснового леса. Здесь ощущается уют маленькой деревни, хотя инфраструктура посоревнуется с любым из центральных районов Москвы. ',
      },
    ],

    adv : [
      {
        img: './img/common/bg-adv.webp',
        title: 'Территория'

      },
      {
        img: './img/common/gallery_1.webp',
        title: 'Инфраструктура'

      },
      {
        img: './img/common/bg-adv.webp',
        title: '64 домовладения'

      },
      {
        img: './img/common/gallery_1.webp',
        title: '1400 квадратных метров'

      },
    ],

    surr: [
      {
        img: './img/common/photo_1.webp',
        title: 'Территория',
        desc: 'Рядом с Барвихинским лесопарком, на площади в 45 гектаров, располагаются 64 домовладения. Максимальная площадь участка — 45 соток. Дома площадью от 600 до 1400 квадратных метров органично смотрятся на фоне высоких деревьев.',
      },
      {
        img: './img/common/photo_2.webp',
        title: 'Архитектура',
        desc: '«Барвихе-XXI» выдержан единый стиль архитектуры Райта. Это невысокие особняки с панорамным остеклением и свободной планировкой. Купив элитную недвижимость в КП «Барвиха-21», вы сможете не беспокоиться о безопасности — покой резидентов защищает круглосуточная служба охраны.',
      },
      {
        img: './img/common/photo_3.webp',
        title: 'Инфраструктура',
        desc: 'Покупка элитного дома в поселке «Барвиха 21» — не только роскошный, но и дальновидный выбор. Совсем рядом — город Одинцово и Рублево-Успенское шоссе вместе со своими клубами и ресторанами, торговыми и развлекательными центрами, медицинскими учреждениями, СПА-салонами и салонами красоты.В самом поселке есть спортзал, салон красоты и спорт-бар. Почти половина поселка отдана под парковую зону с детскими и спортивными площадками',
      },
      {
        img: './img/common/photo_4.webp',
        title: 'Расположение',
        desc: 'Уникальное расположение поселка делает его удобнее многих люксовых районов Москвы. Всего 5 километров от МКАД по Рублево-Успенскому шоссе и еще 4 километра по освещенной и асфальтированной лесной дороге — и вы у вашего дома. Уже есть выезд на платную скоростную автомагистраль, которая в ближайшее время позволит жителям элитных домов в поселке «Барвиха-XXI» добираться до города за считанные минуты, а в перспективе — и до Москва-Сити, и до третьего транспортного кольца.',
      },
      {
        img: './img/common/photo_5.webp',
        title: 'Образование',
        desc: 'Вблизи посёлка «Барвиха-21» расположены самые престижные школы столицы России такие как «Президент», «Павловская гимназия» и «Жуковка». Индивидуальный подход в образовательному процессу и достижение высоких учебных результатов, всё это доступно благодаря тщательно подобранному педагогическому коллективу.',
      },
    ],

    villages: [
      {
        name: 'Барвиха хиллс',
        address: 'Рублево-Успенское шоссе, 10 км',
        img: './img/common/vl_1.webp',
      },
      {
        name: 'Жуковка',
        address: 'Ильинское шоссе, 9 км',
        img: './img/common/vl_2.webp',
      },
      {
        name: 'Сады Майендорф, 6 км',
        address: 'Рублево-Успенское шоссе, 6 км',
        img: './img/common/vl_3.webp',
      },
      {
        name: 'Жуковка',
        address: 'Ильинское шоссе, 9 км',
        img: './img/common/vl_2.webp',
      },
    ],


  };








