- 
  const app = {

    mainMenu: [
      {  'text': 'О поселке', 'href': '#about',  },
      {  'text': 'Галерея', 'href': '#gallery',  },
      {  'text': 'Дома/участки в поселке', 'href': '#catalog',  },
      {  'text': 'Команда отдела продаж', 'href': '#team',  },
      {  'text': 'Инфраструктура', 'href': '#infrastructure',  },
      {  'text': 'Окружение', 'href': '#surroundings',  },
      {  'text': 'Расположение поселка', 'href': '#location',  },

    ],

    team: [
      {
        img: './img/common/m_1.webp',
        post: 'Менеджер по продажам',
        name: 'Елена',
        text: 'Я всегда рада работать с такими проектами, как коттеджный поселок “Барвиха 21”. Каждый дом на территории поселка имеет уникальную архитектуру и планировку - Вы обязательно найдете здесь то, что подходит именно Вам. К продаже доступны дома под чистовую отделку, с ремонтом и даже с готовой меблировкой, а также участки под строительство. ',
      },
      {
        img: './img/common/m_2.webp',
        post: 'Менеджер по продажам',
        name: 'Олег',
        text: 'Нужно один раз увидеть, чтобы навсегда влюбиться в это место! Коттеджный поселок “Барвиха 21” расположен в живописном месте одноименного населенного пункта, вблизи соснового леса. Здесь ощущается уют маленькой деревни, хотя инфраструктура посоревнуется с любым из центральных районов Москвы. ',
      },
    ],

    adv : [
      {
        img: './img/common/bg-adv.webp',
        title: 'Территория'

      },
      {
        img: './img/common/gallery_1.webp',
        title: 'Инфраструктура'

      },
      {
        img: './img/common/bg-adv.webp',
        title: '64 домовладения'

      },
      {
        img: './img/common/gallery_1.webp',
        title: '1400 квадратных метров'

      },
    ],

    surr: [
      {
        img: './img/common/photo_1.webp',
        title: 'Территория',
        desc: 'Рядом с Барвихинским лесопарком, на площади в 45 гектаров, располагаются 64 домовладения. Максимальная площадь участка — 45 соток. Дома площадью от 600 до 1400 квадратных метров органично смотрятся на фоне высоких деревьев.',
      },
      {
        img: './img/common/photo_2.webp',
        title: 'Архитектура',
        desc: '«Барвихе-XXI» выдержан единый стиль архитектуры Райта. Это невысокие особняки с панорамным остеклением и свободной планировкой. Купив элитную недвижимость в КП «Барвиха-21», вы сможете не беспокоиться о безопасности — покой резидентов защищает круглосуточная служба охраны.',
      },
      {
        img: './img/common/photo_3.webp',
        title: 'Инфраструктура',
        desc: 'Покупка элитного дома в поселке «Барвиха 21» — не только роскошный, но и дальновидный выбор. Совсем рядом — город Одинцово и Рублево-Успенское шоссе вместе со своими клубами и ресторанами, торговыми и развлекательными центрами, медицинскими учреждениями, СПА-салонами и салонами красоты.В самом поселке есть спортзал, салон красоты и спорт-бар. Почти половина поселка отдана под парковую зону с детскими и спортивными площадками',
      },
      {
        img: './img/common/photo_4.webp',
        title: 'Расположение',
        desc: 'Уникальное расположение поселка делает его удобнее многих люксовых районов Москвы. Всего 5 километров от МКАД по Рублево-Успенскому шоссе и еще 4 километра по освещенной и асфальтированной лесной дороге — и вы у вашего дома. Уже есть выезд на платную скоростную автомагистраль, которая в ближайшее время позволит жителям элитных домов в поселке «Барвиха-XXI» добираться до города за считанные минуты, а в перспективе — и до Москва-Сити, и до третьего транспортного кольца.',
      },
      {
        img: './img/common/photo_5.webp',
        title: 'Образование',
        desc: 'Вблизи посёлка «Барвиха-21» расположены самые престижные школы столицы России такие как «Президент», «Павловская гимназия» и «Жуковка». Индивидуальный подход в образовательному процессу и достижение высоких учебных результатов, всё это доступно благодаря тщательно подобранному педагогическому коллективу.',
      },
    ],

    villages: [
      {
        name: 'Барвиха хиллс',
        address: 'Рублево-Успенское шоссе, 10 км',
        img: './img/common/vl_1.webp',
      },
      {
        name: 'Жуковка',
        address: 'Ильинское шоссе, 9 км',
        img: './img/common/vl_2.webp',
      },
      {
        name: 'Сады Майендорф, 6 км',
        address: 'Рублево-Успенское шоссе, 6 км',
        img: './img/common/vl_3.webp',
      },
      {
        name: 'Жуковка',
        address: 'Ильинское шоссе, 9 км',
        img: './img/common/vl_2.webp',
      },
    ],



    typeSelect : [
      'Тип недвижимости',
      'Загородная',
      'Коммерческая',
      'Городская',
      'Недвижимость в ОАЭ',
      'Недвижимость в Сочи',
      ],

    // home category
    homeCat : [ 
      {
        'title':'Загородная ',
        'img': '/img/home/hcat0.webp',
        'list':[
          'Коттеджи',
          'Таунхаусы',
          'Участки',
          'Квартиры',
          'Поселки',
          'Аренда ',
          'Акции',
        ],
      },


      {
        'title':'Городская',
        'img': '/img/home/hcat1.webp',
        'list':[
          'Квартиры',
          'Апартаменты',
          'Пентхаусы',
          'Таунхаусы',
          'Новостройки',
          'Жилые комплексы',
          'Особняки',
          'Аренда',
          'Акции',
        ],
      },

      {
        'title':'Коммерческая',
        'img': '/img/home/hcat3.webp',
        'list':[
          'Офисы',
          'Готовый бизнес',
          'Торговые ',
          'Особняки',
          'Аренда',
          'Акции',
        ],
      },

      {
        'title':'Недвижимость в ОАЭ',
        'img': '/img/home/hcat4.webp',
        'list':[
          'Апартаменты',
          'Виллы',
          'Жилые комплексы',
          'Аренда',
          'Акции', 
        ],
      },

      {
        'title':'Недвижимость в Сочи',
        'img': '/img/home/hcat5.webp',
        'list':[
          'Апартаменты',
          'Дома',
          'Особняки',
          'Таунхаусы',
          'Виллы',
          'Квартиры',
          'Пентхаусы',
          'Аренда',
          'Акции',
        ],
      },


    ],

    //logo clients
    clients: [
      {'link': '#client', 'img':'/img/home/clients/image3.png'},
      {'link': '#client', 'img':'/img/home/clients/image5.png'},
      {'link': '#client', 'img':'/img/home/clients/image7.png'},
      {'link': '#client', 'img':'/img/home/clients/image9.png'},
      {'link': '#client', 'img':'/img/home/clients/image4.png'},
      {'link': '#client', 'img':'/img/home/clients/image6.png'},
      {'link': '#client', 'img':'/img/home/clients/image8.png'},
      {'link': '#client', 'img':'/img/home/clients/image3.png'},
      {'link': '#client', 'img':'/img/home/clients/image5.png'},
      {'link': '#client', 'img':'/img/home/clients/image7.png'},
    ],

    footerLink: [
      {
        'title': 'Тип недвижимости',
        'list': [
          { 'href': '#Апартаменты', 'text': 'Апартаменты',  },
          { 'href': '#Дома', 'text': 'Дома',  },
          { 'href': '#Особняки', 'text': 'Особняки',  },
          { 'href': '#Таунхаусы', 'text': 'Таунхаусы',  },
          { 'href': '#Виллы', 'text': 'Виллы',  },
          { 'href': '#Квартиры', 'text': 'Квартиры',  },
          { 'href': '#Пентхаусы', 'text': 'Пентхаусы',  },
          { 'href': '#Аренда', 'text': 'Аренда',  },
        ]
      },
      {
        'title': 'Округа',
        'list': [
          { 'href': '#ЦАО', 'text': 'ЦАО'},
          { 'href': '#ЗАО', 'text': 'ЗАО'},
          { 'href': '#СЗАО', 'text': 'СЗАО'},
          { 'href': '#ЮЗАО', 'text': 'ЮЗАО'},
          { 'href': '#САО', 'text': 'САО'},
          { 'href': '#ЮАОС', 'text': 'ЮАОС'},
          { 'href': '#ВАО', 'text': 'ВАО'},
          { 'href': '#ВАО', 'text': 'ВАО'},
        ]
      },
      {
        'title': 'Метро',
        'list': [
          { 'href': '#Парк Победы', 'text': 'Парк Победы',  },
          { 'href': '#Третьяковская', 'text': 'Третьяковская',  },
          { 'href': '#Международная', 'text': 'Международная',  },
          { 'href': '#Чкаловская', 'text': 'Чкаловская',  },
          { 'href': '#Алексевская', 'text': 'Алексевская',  },
          { 'href': '#Минская', 'text': 'Минская',  },
          { 'href': '#Тёплый стан', 'text': 'Тёплый стан',  },
          { 'href': '#Кропоткинская', 'text': 'Кропоткинская',  },
          { 'href': '#Улица 1095 года', 'text': 'Улица 1095 года',  },
        ]
      },

      {
        'title': 'Районы',
        'list': [
          { 'href': 'Дорогомилово', 'text': 'Дорогомилово',  },
          { 'href': 'Хамовники', 'text': 'Хамовники',  },
          { 'href': 'Раменки', 'text': 'Раменки',  },
          { 'href': 'Москва Сити', 'text': 'Москва Сити',  },
          { 'href': 'Якиманка', 'text': 'Якиманка',  },
          { 'href': 'Тверской', 'text': 'Тверской',  },
          { 'href': 'Арбат', 'text': 'Арбат',  },
          { 'href': 'Пресненский', 'text': 'Пресненский',  },
          { 'href': 'Останкинский', 'text': 'Останкинский',  },
        ]
      },


    ],

    cardSpec: [
      ['Общая площадь', '494,9 м2'],
      ['Тип квартиры', 'Вторичка'],
      ['Кухня', '19,85 м2'],
      ['Количество комнат', '8'],
      ['Этаж / этажей в доме', '5 / 7'],
      ['Количество спален', '5'],
      ['Количество санузлов', '5'],
      ['Отделка', 'без отделки'],
      ['Балкон', '1'],
    ],

    cardAdv: [
      {
        'type':'Инфраструктура',
        'title':'Парковая зона',
        'image':'/img/common/atg0.webp',
        'desc':'Наличие прямых контактов с владельцами позволяет предлагать клиентам огромный выбор элитной жилой и коммерческой недвижимости во всех крупных городах России, ближнего и дальнего зарубежья. ',
      },
      {
        'type':'Инфраструктура',
        'title':'Безопасность',
        'image':'/img/common/atg1.webp',
        'desc':'Основным направлением деятельности агентства недвижимости GRAPH являются операции с городской, коммерческой, загородной и зарубежной недвижимостью. ',
      },
      {
        'type':'Инфраструктура',
        'title':'Парковка',
        'image':'/img/common/atg2.webp',
        'desc':'Наши клиенты – это частные лица, арендаторы, собственники дорогой недвижимости, госкорпорации, девелоперы и инвесторы, госслужащие, звезды шоу-бизнеса.',
      },

    ],

    mapfilter: [
      {icons: '#ic_mapfilter-all', text:'Все', count: '2'},
      {icons: '#ic_mapfilter-med', text:'здоровье', count: '6'},
      {icons: '#ic_mapfilter-shop', text:'Магазины', count: '2'},
      {icons: '#ic_mapfilter-libray', text:'образование', count: '3'},
      {icons: '#ic_mapfilter-kids', text:'Детсад', count: '2'},
      {icons: '#ic_mapfilter-atr', text:'Отдых', count: '5'},
    ],

    montgage: [
      {
        'logo':'/img/bank/1.png',
        'firstpayment':'от 74 550 000 ₽',
        'tern':'до 25 лет',
        'monthpayment':'2 923 519 ₽',
        'stake':'от 6,25%',
      },
      {
        'logo':'/img/bank/2.png',
        'firstpayment':'от 74 550 000 ₽',
        'tern':'до 20 лет',
        'monthpayment':'2 923 519 ₽',
        'stake':'от 8,89%',
      },
      {
        'logo':'/img/bank/3.png',
        'firstpayment':'от 74 550 000 ₽',
        'tern':'до 25 лет',
        'monthpayment':'2 923 519 ₽',
        'stake':'от 6.1%',
      },
    ],

    jkcatalog: [
      {
        'postid':'875',
        'id':'id 94837875',
        'type':'Квартира',
        'area':'137 кв.м.',
        'level':'1 из 10 ',
        'frame':'1',
        'room':'4 комнаты',
        'bathroom':'2 ванных',
        'disign':'Под отделку',
        'price':'156 000 000 ₽',
      },
      {
        'postid':'985',
        'id':'id 94837875',
        'type':'Квартира',
        'area':'13 кв.м.',
        'level':'5 из 10 ',
        'frame':'1',
        'room':'3 комнаты',
        'bathroom':'2 ванных',
        'disign':'С ремонтом',
        'price':'156 000 000 ₽',
      },
      {
        'postid':'128',
        'id':'id 94837875',
        'type':'Квартира',
        'area':'72 кв.м.',
        'level':'9 из 10 ',
        'frame':'1',
        'room':'4 комнаты',
        'bathroom':'1 ванных',
        'disign':'Под отделку',
        'price':'156 000 000 ₽',
      },
    ]

  };








